# dependencies
/node_modules
/dist

# production
/build

# environment variables
.env
/server/.env

# misc
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.idea/
.vscode/
*.swp

# Unit test reports
TEST*.xml

# Compiled code
*.class
*.py[cod]

# Package files
*.jar
*.war

# Applications
*.app
*.exe

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
